:root {
  /* PALETA PRIMÁRIA */
  --p1: #29c74b;
  --p2: #75ea3d;
  --p3: #9bff6b;

  /* TONS DE CINZA */
  --c0: #ffffff;
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #cccccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #404040;
  --c10: #3e3e3e;
  --c11: #111111;
  --c12: #000000;

  --grandiente-btn: linear-gradient(#29c74b, #75ea3d);
  --grandiente-btn-hover: linear-gradient(#ffb60d, #e59317);
}

.p1 {
  color: var(--p1);
}
.p2 {
  color: var(--p2);
}
.p3 {
  color: var(--p3);
}
.c0 {
  color: var(--c0);
}
.c1 {
  color: var(--c1);
}
.c2 {
  color: var(--c2);
}
.c3 {
  color: var(--c3);
}
.c4 {
  color: var(--c4);
}
.c5 {
  color: var(--c5);
}
.c6 {
  color: var(--c6);
}
.c7 {
  color: var(--c7);
}
.c8 {
  color: var(--c8);
}
.c9 {
  color: var(--c9);
}
.c10 {
  color: var(--c10);
}
.c11 {
  color: var(--c11);
}
.c12 {
  color: var(--c12);
}
