.experiencia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding: 70px 20px 70px 20px;
}

.experiencia-subtitulo {
  max-width: 4ch;
  word-break: break-all;
  text-transform: uppercase;
}

.experiencia-texto {
  max-width: 45ch;
  margin: 0 0 60px;
}

.experiencia-empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 50px;
  padding: 20px;
  margin-bottom: 20px;
  background: var(--c1);
  border-radius: 4px;
  position: relative;
}

.experiencia-empresa::before {
  content: "";
  width: 4px;
  height: 20px;
  background: var(--gradiente-btn);
  position: absolute;
  top: 20px;
  left: -4px;
  display: block;
}

.empresa-data {
  position: absolute;
  width: 100px;
  text-align: right;
  top: 22px;
  left: -135px;
}

.empresa-ferramentas {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
  align-items: start;
}

.empresa-ferramentas li {
  background: var(--c0);
  padding: 5px 10px;
  border-radius: 4px;
}

.ponto {
  color: transparent;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia-subtitulo {
    max-width: initial;
    font-size: 3rem;
    text-transform: initial;
    color: #141414;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-data {
    order: 1;
    position: initial;
    width: initial;
    text-align: left;
  }
  .ponto {
    color: var(--p1);
  }
}

@media (max-width: 450px) {
  .experiencia-empresa {
    grid-template-columns: 1fr;
  }
  .empresa-ferramentas {
    gap: 10px;
  }
}
